* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background-color: darkgreen;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

main {
    min-height: 100vh;
}

a:link,
nav a:visited {
    text-decoration: none;
}

a:hover,
nav a:active {
    text-decoration: none;
}

a {
    color: rgb(9, 255, 9);
}

.btn {
    background-color: rgba(76, 175, 80, 0.6);
    border-color: rgb(0, 255, 0);
}

footer {
    background-color: black;
}

#background_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: auto;
    display: grid;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 10px;
}

.centered_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper_centered_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower_centered_text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.glitch {
    position: relative;
    text-shadow: 0.05em 0 0 #ff0000bf,
        -0.025em -.05em 0 rgba(0, 255, 0, .75),
        0.025em 0 0 rgba(0, 0, 255, 0.75);
    animation: glitch 400ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    10% {
        text-shadow: -0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    20% {
        text-shadow: 0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    30% {
        text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    40% {
        text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow: -0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    60% {
        text-shadow: 0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    70% {
        text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    80% {
        text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    90% {
        text-shadow: -0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: 0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}


/* https://codepen.io/kevinpowell/pen/YzqerQm */